.something {
  display: flex;
}
.landmark_background {
  margin-left: 20px;
  width: 1000px;
  height: 100vh;
}
.content {
  margin-bottom: 5px;
  width: 750px;
  margin-right: 5px;
  margin-left: 2px;

}
